.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.home-what {
  text-align: center;
  padding: 2rem;
  width: 100%;
}
.home-events {
  background-color: #4c5b31;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
